html, body { height:100%; }

#duration-visual,
.screen {
    position: fixed;
    height: 100%;
    width: 100%;
}

#duration-visual {
    width: 0;
    overflow: hidden;
}

@keyframes my_animation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.hover-button {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

.header {
    margin-bottom: 0;
}
.subheader:empty,
.subheader {
    display: block;
    min-height: 40px;
    min-width: 1px;
}

.nid {
    position: relative;
    background: transparent url('images/nid.png') no-repeat 0 0;
    height: 461px;
}
.nid__input {
    background: none;
    left: 15px;
    border: 0;
    position: absolute;
}
.nid__input:nth-child(1) { top: 71px }
.nid__input:nth-child(2) { top: 117px }
.nid__input:nth-child(3) {
    width: 100px;
    height: 2rem;
    top: 214px;
    left: 7px;
}